#navbar {
    position: relative;
    padding-bottom: 6px;

}

.nav-link {
    color: #B0B0B0;
    text-decoration: none;
    padding-bottom: 10px;
    transition: color 0.3s ease;
    font-weight: 400;
    /* Normal */
    line-height: 24px;
}

.nav-link.active {
    color: #facc15;
    font-weight: 700;
    /* Bold when active */

}

#indicator {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background: #facc15;
    transition: all 0.35s ease;
}

.gradient-text {
    background: linear-gradient(90deg, #FACC15 0%, #FFECB9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.card {
    background: #373267;
    border: 1px solid rgba(255, 255, 255, .08);
    transition: .35s;
    position: relative;
    overflow: hidden;
}

.card:hover {
    transform: translateY(-6px);
    box-shadow: 0 18px 40px rgba(0, 0, 0, .4);
}

.day-tag {

    border-radius: 0 60px 0 0;
    background: #2B2874;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color:#D1C6AB;
    letter-spacing: .5px;
}
html {
    scroll-behavior: smooth;
}

@media (max-width: 639px) {

    html[lang="ml"] .hero-titles {
        font-size: 30px;
        line-height: 46px;
    }

}

html[lang="ml"] .location-text {
        font-size: 11px;
        line-height: 24px;
    }

@media (min-width: 1024px) {
    html[lang="ml"] .premium-Head {
        font-size: 27px;
    }
}
@media (min-width: 1024px) {
    html[lang="ml"] .premium-sub {
        font-size: 17px;
    }
}

@media (max-width: 639px) {
    html[lang="ml"] .branch-title {
        font-size: 20px;
        line-height: 30px;
    }

}
@media (max-width: 639px) {
    html[lang="ml"] .ticket-head {
        font-size: 22px;
      line-height: 25px;
    }
}

@media (min-width: 768px) {
    html[lang="ml"] .ticket-head {
        font-size: 28px;
    }
}

@media (min-width: 768px) {
    html[lang="ml"] .ticket-sub {
        font-size: 14px;
        margin-top: -7px;
    }
}


html[lang="ml"] .tickets-name {
        font-size: 17px;
}

@media (max-width: 639px) {
html[lang="ml"] .result-head {
    font-size: 20px;
    line-height: 27px;
}
}

@media (max-width: 639px) {
html[lang="ml"] .blog-head {
    font-size: 19px;
    line-height: 24px;
}

}

/* @media (min-width: 768px) {
    html[lang="ml"] .blog-head {
    font-size: 25px;

}
} */

@media (max-width: 639px) {
html[lang="ml"] .about-head {
    font-size: 18px;
    line-height: 24px;
    text-align: center;
}
}
@media (max-width: 639px) {
html[lang="ml"] .about-desc {
    font-size: 14px;
    line-height: 22px;
}

}
html[lang="ml"] .feature {
    font-size: 15px;
    line-height: 22px;
}
html[lang="ml"] .feature-desc {
    font-size: 14px;
    line-height: 18px;
}


